[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Swiss Ice Hockey
Exec=/usr/bin/invoker --type=e -s /opt/harmattan-swisshockey/bin/harmattan-swisshockey
Icon=/usr/share/icons/hicolor/80x80/apps/swisshockey80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
